$color-ontop: rgb(254,194,0);
$color-notontop: rgba(215,203,165,0.5);

.banner{
    display: block;
    position: sticky;
}

.ontop{
    z-index: 5;
    background-color: $color-ontop;
    transition-duration: 1.5s;
}

.notontop{
    z-index: 5;
    background: $color-notontop;
    transition-duration: 1.5s;
}