body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paragraph{
  text-align: justify;
}

.homeCarousel{
  top: 0;
  position: fixed;
  z-index: 1;
}

#page-container {
  position: relative;
  min-height: 100vh;
  z-index: 3;
}

#content-wrap {
  padding-bottom: 2.5rem;
}