.shown-header{
    visibility: visible;
    opacity: 1;

    transition-duration: 1s;
}

.hidden-header{
    visibility: hidden;
    opacity: 0;
    
    transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
}